@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
$bonewhite: #f4efe6;
$warmwhite: #e7dfcf;
$warmbeige: #c4b39a;
$sand: #cec1ab;
$olivebrown: #92816c;
$earthbrown: #8a7356;
$mocha: #5a4d41;
$espresso: #5b4c3a; 
$charcoal: #191a1e;
$winered: #49110b;




.form-check-input:checked {
  accent-color: $mocha;
}
.item-name{
  display: inline-block;
  padding-left: 0.5rem;
}
.list-group-item {
  display: block;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  
}
.item-name.checked {
  text-decoration: line-through;
  opacity: 0.65;
}
