@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
$bonewhite: #f4efe6;
$warmwhite: #e7dfcf;
$warmbeige: #c4b39a;
$sand: #cec1ab;
$olivebrown: #92816c;
$earthbrown: #8a7356;
$mocha: #5a4d41;
$espresso: #5b4c3a; 
$charcoal: #191a1e;
$winered: #49110b;


@mixin aspectratio($width, $height, $custom-width: 100%) {
  position: relative;
  width: $custom-width;
  height: ($custom-width * $height) / $width;
}

.product-details-page {
  padding-top: 90px;
  height: 100vh;
  background-color: $warmwhite;
}

.product_page {
  padding-left: 20px;
}

.product_visual {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.product_name{
    padding-top: 0;
    height: fit-content;
    width: 100%;
    // border: 1px solid $charcoal;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 550;
    color: $charcoal;
    margin: 0px;
}
.product_img_box{
    border: 1px solid $charcoal;
    margin-top: 20px;
    position: relative;
    
}
.photo-3-4{
    @include aspectratio(3, 4, 400px);
    border: 1px solid $charcoal;
    margin-top: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .description_box{
    border: 1px solid $charcoal;
    width: 400px;
    height: fit-content;
    position: absolute;
    left: 480px;
    top: 180px;
    padding-left: 20px;
    margin: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: left; 
  }
  
  .ingredient_check_box{
    border: 1px solid $charcoal;
    width: 400px;
    height: fit-content;
    position: absolute;
    left: 480px;
    top: 240px;
    padding-left: 20px;
    margin: none;
    height: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: left;
    .col-4{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .product_recipe{
    border: 1px solid $charcoal;
    width: 400px;
    height: fit-content;
    position: absolute;
    left: 950px;
    top: 180px;
    padding-left: 20px;
    height: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: left;
  }
